@use '@angular/material' as mat;
@import 'typography';
$ROI-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$ROI-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$ROI-nature-warn: mat.define-palette(mat.$red-palette, 600);

$ROI-nature-theme: mat.define-light-theme((
  color: (
    primary: $ROI-nature-primary,
    accent: $ROI-nature-accent,
    warn: $ROI-nature-warn,
  ),
  typography: mat.define-typography-config($ROI-fonts),
  // density: 0,
 ));
