@use '@angular/material' as mat;

@mixin ROI-charts-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .charts_theme {
    /* ngx-charts */
    ::ng-deep .ngx-charts text {
      fill: mat.get-color-from-palette($foreground, text);
    }

    ::ng-deep .ngx-charts-legend text {
      fill: mat.get-color-from-palette($foreground, text);
    }

    ::ng-deep .ngx-charts-legend-entry.active .legend-text {
      fill: mat.get-color-from-palette($foreground, text);
    }

    ::ng-deep .ngx-charts-legend-entry.inactive .legend-text {
      fill: mat.get-color-from-palette($foreground, text);
    }

    // /* x-axis label */
    // :host /deep/ .x-axis-label text {
    //   fill: mat.get-color-from-palette($foreground, text);
    // }

    // /* y-axis label */
    // :host /deep/ .y-axis-label text {
    //   fill: mat.get-color-from-palette($foreground, text);
    // }
  }
}
