<div class="container">
  <section>
    <h1 class="main-heading">About us</h1>
    <header class="text-center">
      <h1>Welcome to ROInsight!</h1>
      <h5>
        We are your go-to resource for a comprehensive overview of the most
        popular data science and business intelligence tools available in the
        market today.
      </h5>
    </header>
    <mat-divider></mat-divider>
    <br />
    <div class="row justify-content-center align-items-center g-2">
      <div class="col text-center">
        <h3>
          Our mission is to empower businesses like yours to make informed
          decisions about the tools that best suit your unique needs.
        </h3>
      </div>
      <div class="col">
        <img
          src="assets/markdown/aboutus.jpg"
          class="img-fluid rounded-top"
          alt=""
          width="100%"
        />
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 box_text">
          <div class="col">
            In today's data-driven world, having the right tools is essential
            for success. With so many options available, navigating the
            landscape of data science and business intelligence can be
            overwhelming. That's where ROInsight comes in. We have done the
            research and analysis for you, compiling a wealth of information
            about various tools to help you make confident decisions.
          </div>
          <div class="col">
            Our platform covers a wide range of topics, including data
            visualization, dashboarding tools, advanced analytics, and machine
            learning platforms. We provide detailed insights into each tool's
            features, capabilities, and strengths, allowing you to understand
            how they can benefit your business. With our in-depth reviews,
            comparisons, and user feedback, you can gain a comprehensive
            understanding of the tools' functionalities and make an informed
            choice.
          </div>
          <div class="col">
            At ROInsight, we understand that every business has unique
            requirements. We take pride in offering unbiased and objective
            information to help you find the tools that align with your specific
            needs. Whether you are a small startup, a growing enterprise, or an
            established organization, our platform caters to businesses of all
            sizes and industries.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h1 class="text-center">Here's what you can expect from ROInsight</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 box_text">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Comprehensive Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Our platform provides detailed and up-to-date information on a wide
            range of data science and business intelligence tools. We cover
            their features, functionalities, pricing models, and user reviews to
            give you a holistic understanding of each tool.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Expert Insights</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Our team of experts stays up to date with the latest trends and
            developments in the field of data science and business intelligence.
            We provide expert insights, tips, and best practices to help you
            maximize the potential of your chosen tools.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Comparison Guides</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Our platform includes comprehensive comparison guides, allowing you
            to evaluate multiple tools side by side. This helps you identify the
            key differences and choose the tool that best suits your business
            requirements.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>User Feedback</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            We value the experiences and opinions of users. Our platform
            incorporates user feedback and testimonials, giving you insights
            into real-world usage and the tool's performance in different
            scenarios.
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Unbiased Reviews</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Our reviews are unbiased and based on extensive research and
            analysis. We aim to provide you with an objective assessment of each
            tool's pros and cons, enabling you to make informed decisions.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

<section>
  <div class="row">
    <div class="col py-5">
      ROInsight is your trusted companion on your journey to selecting the right
      data science and business intelligence tools for your organization. We are
      dedicated to providing you with the information you need to make confident
      decisions that drive your business forward. 
    </div>
    <div class="col py-5">
      Explore our platform, dive into
      the rich content, and discover the tools that will transform the way you
      leverage data. Start your journey with ROInsight today and empower your
      business with the right data science and business intelligence tools for
      success.
    </div>  
  </div>
</section>

  <div class="py5">
    Tell the user what you do. Create a clear information layout. Add location
    and data for more authenticity. Show the company’s accomplishments to
    enhance user trust. Display real photos of the team and individual members.
    Use obvious CTAs to make it easy for users to use your products. Do not
    include lengthy information which does not add practical value. Present
    information in a unique way. Make a good impression with stylish design.
    Keep your layout clean and simple.
  </div>
</div>

<!-- <div class="container px-4 px-lg-5">
  <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
    <div class="col-xl-8 col-lg-7">
      <img class="img-fluid mb-3 mb-lg-0" src="https://picsum.photos/600/300" alt="..."/>
    </div>
    <div class="col-xl-4 col-lg-5">
      <div>
        <h4>Shoreline</h4>
        Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!
    </div>
    </div>
  </div>
</div>
         -->

<!-- <ROI-html-content [filePath]="(language$ | async)"></ROI-html-content> -->
<!-- <ROI-html-content [filePath]="'assets/markdown/about_'+(language$ | async)+'.html'"></ROI-html-content> -->
<!-- <ROI-html-content [filePath]="'assets/markdown/about_{{ language$ | async }}.html'"></ROI-html-content> -->
<!-- <ROI-html-content [filePath]="'assets/markdown/about_'"></ROI-html-content> -->
<!-- <ROI-html-content [filePath]="'assets/markdown/about_'"></ROI-html-content> -->

<!-- <div class="container">
  <div class="docs-homepage-guides docs-homepage-carousel-row">
    <div class="docs-homepage-header">
      <h2>Guides</h2>
        <a class="docs-link" routerLink="/guides">
        View all guides
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
    <ROI-carousel [aria-label]="'Guides'">
      <a carousel-item class="carousel-item docs-homepage-guides-carousel-item" *ngFor="let guide of guideItems.getAllItems()"
         routerLink='/guide/{{guide.id}}'>
        <mat-card class="docs-homepage-guides-card">
          <mat-card-title>{{guide.name}}</mat-card-title>
          <div class="docs-homepage-guides-card-divider"></div>
          <mat-card-content class="docs-component-category-list-card-summary">
            {{guide.overview}}
          </mat-card-content>
        </mat-card>
      </a>
    </ROI-carousel>
  </div>
</div> -->

<!-- <div class="docs-homepage-featured-components docs-homepage-carousel-row">
  <div class="docs-homepage-header">
    <h2>Featured components</h2>

    <a class="docs-link" routerLink="/components">
      View all components
      <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
  <ROI-carousel [aria-label]="'Featured components'">
    <a *ngFor="let comp of getTopComponents()" carousel-item class="carousel-item docs-featured-components-carousel-item"
       routerLink="/components/{{comp}}">
      <div class="docs-homepage-img-container">
        <img alt="" src="../../../assets/screenshots/{{comp}}.scene.png" role="presentation">
      </div>
      {{(comp[0].toUpperCase() + comp.slice(1)).replace('-', ' ')}}
    </a>
  </ROI-carousel>
</div> -->

<!-- <div class="row">
  <div class="col-lg-6">
    <div class="card card-royal">
      <div class="card-header">
        <h3 class="card-title">Card Title</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <img src="https://picsum.photos/200/300" alt="" class="img-fluid">
          </div>
          <div class="col-sm-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, praesentium, quam! Quia fugiat aperiam.
            Perspiciatis soluta voluptate dolore officiis libero repellat cupiditate explicabo atque facere aliquam.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-royal">
      <div class="card-header">
        <h3 class="card-title">Card Title</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <img src="https://picsum.photos/200/300" alt="" class="img-fluid">
          </div>
          <div class="col-sm-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, praesentium, quam! Quia fugiat aperiam.
            Perspiciatis soluta voluptate dolore officiis libero repellat cupiditate explicabo atque facere aliquam.
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
