<p>number-cards-status works!</p>

<div *ngIf="chartType === 'status-demo'">
    <!-- <ngx-slider
      [(ngModel)]="salePrice"
      [step]="100"
      [filled]="true"
      [min]="0"
      [max]="10000"
      (change)="statusData = calcStatusData()"
    >
    </ngx-slider>
    Price: ${{ salePrice }}
    <br />
    <ngx-slider
      [(ngModel)]="personnelCost"
      [step]="100"
      [filled]="true"
      [min]="0"
      [max]="10000"
      (change)="statusData = calcStatusData()"
    >
    </ngx-slider>
    Cost: ${{ personnelCost }} / hr -->
    <ngx-charts-number-card
      class="chart-container"
      [view]="view"
      [scheme]="colorScheme"
      cardColor="#232837"
      emptyColor="#1e222e"
      [results]="statusData"
      [animations]="animations"
      [valueFormatting]="statusValueFormat"
      [labelFormatting]="statusLabelFormat"
    >
    </ngx-charts-number-card>
  </div>