<div class="container">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <div class="row">
                <div class="progress-bar-container">
                    <span *ngIf="isLoading" class="loading-spinner">
                        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
                    </span>
                </div>
                     <div class="col-lg-6">
                    <mat-card-header>

                        <!-- <div><img mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                           <h2>Account Login Form</h2><br>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h3>Login to your Account</h3>
                                <div *ngIf="errors" class="icon-flex warn">
                                    <mat-icon color="warn">error</mat-icon><span> Error: {{ errors }}</span>
                                </div>
                                <div *ngIf="!errors">
                                    User your email address to login
                                </div>
         
                               </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="Example: email@domain.com" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                                Email is <strong>not valid</strong>
                            </mat-error>
                            <mat-error *ngIf="errors">
                                {{ errors }}
                            </mat-error>
                            <!-- <mat-hint>Enter your valid email address to login</mat-hint> -->
                        </mat-form-field>
                       
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Your password" type="password" formControlName="password">
                            <mat-icon matSuffix>visibility</mat-icon>
                            <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
                            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <!-- <mat-hint>Enter your password</mat-hint> -->
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions class="d-flex justify-content-between">
                        <button class="mat-radio-button" mat-stroked-button color="primary">Create account</button>
                        <button class="mat-radio-button" mat-stroked-button color="primary">Forget account?</button>
                        <button class="mat-radio-button" mat-raised-button color="primary" type="submit"
                        [disabled]="loginForm.invalid || isLoading">Sign In
                        </button>
                      </mat-card-actions>
                    <mat-card-footer>	
                    </mat-card-footer>	
                </div>
                <div class="col-lg-6 d-none d-xl-block text-center">
                    <!-- <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"> -->
                        <img mat-card-image
                          class="img-fluid rounded-3 my-5"
                          src="https://dummyimage.com/600x400/343a40/6c757d"
                          alt="..."
                        />
                      <!-- </div> -->
                </div>
            </div>
        </mat-card>
    </form>

</div>
