.roi-api-class-name {
  margin-top: 28px;
  margin-bottom: 0;
  display: block;
  font-weight: bold;
  font-size: 20px;
  background: none;

  code {
    background: none;
  }
}

.roi-api-type-alias-name,
.roi-api-class-name {
  @media (max-width: 399px) {
    word-break: break-word;
  }
}

.roi-api-h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin: 40px 0 20px;
  padding-bottom: 3px;
}

.roi-api-method-name-cell,
.roi-api-method-header,
.roi-api-method-description-cell,
.roi-api-property-description,
.roi-api-class-export-label,
.roi-api-directive-selectors,
.roi-api-class-description,
.roi-api-class-export-name {
  font-size: 15px;
}

.roi-api-class-description {
  line-height: 24px;
}

.roi-api-property-type {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}
