
<!-- <div class="ms-hero-img-beach ms-hero-bg-info ms-bg-fixed">
  <div class="container">
    <div class="text-center mb-4">
      <h1 class="text-center color-white">Download Now</h1>
      <p class="color-white">Reiciendis aspernatur doloremque modi repudiandae, deserunt mollitia labore eligendi nam optio enim soluta totam in.</p>
    </div>
    <div class="text-center ms-margin">
      <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app">
        <div class="btn-container"><i class="fa fa-android"></i> <span>Aviable in </span><br> <strong>Play Store</strong></div>
      </a>
      <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app">
        <div class="btn-container"><i class="fa fa-apple"></i> <span>Aviable in </span><br> <strong>App Store</strong></div>
      </a>
    </div>
  </div>
</div> -->

<!-- <div class="">
  <div class="container">
    <div class="">
      <h1 class="text-center">Download Now</h1>
      <p class="color-white">Reiciendis aspernatur doloremque modi repudiandae, deserunt mollitia labore eligendi nam optio enim soluta totam in.</p>
    </div>
    <div>
      <a href="javascript:void(0)" class="btn">
        <div><i class="fa fa-android"></i> <span>Aviable in </span><br> <strong>Play Store</strong></div>
      </a>
        <div class="btn"><i class="fa fa-apple"></i> <span>Aviable in </span><br> <strong>App Store</strong></div>
    </div>
  </div>
</div> -->




<header>
  <div class="background">
    <div class="gradient">
      <div class="container">
        <div
          class="row gx-5 align-items-center justify-content-center"
          [ngClass]="routeAnimationsElements"
        >
          <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start header_main">
              <h1 class="display-5 fw-bolder mb-2 branding">
                <img [src]="logo" [alt]="" /> {{ 'ROI.title.long' | translate }}
              </h1>
              <h3 class="lead fw-normal mb-4">
                {{ 'ROI.landing.header_main' | translate }}
              </h3>
              <div
                class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
              >
                <a
                  mat-raised-button
                  class="actions-main"
                  color="primary"
                  routerLink="../feature-list"
                >
                  {{ 'ROI.menu.features' | translate }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            <img
              class="img-fluid rounded-3 my-5"
              src="https://dummyimage.com/600x400/343a40/6c757d"
              alt="..."
            />
          </div>
        </div>
        <div class="actions"></div>
      </div>
    </div>
  </div>
</header>

<main class="flex-shrink-0-">
  <!-- Blog preview section-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="text-center">
            <h2 class="fw-bolder">From our blog</h2>
            <p class="lead fw-normal text-muted mb-5">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
              fugit ratione dicta mollitia. Officiis ad.
            </p>
          </div>
        </div>
      </div>

      <div class="row gx-5">
        <div class="col-lg-4 mb-5">
          <mat-card class="example-card">
            <!-- <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</main>
