.full-width {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.example-card {
    max-width: 100%;
  }
.ms-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    vertical-align: middle;
    background-color: #03a9f4;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 2px 0 rgba(0, 0, 0, 0.05),
      1px 3px 0 rgba(0, 0, 0, 0.05), 2px 4px 0 rgba(0, 0, 0, 0.05),
      3px 5px 0 rgba(0, 0, 0, 0.05), 4px 6px 0 rgba(0, 0, 0, 0.05),
      5px 7px 0 rgba(0, 0, 0, 0.05), 6px 8px 0 rgba(0, 0, 0, 0.05),
      7px 9px 0 rgba(0, 0, 0, 0.05), 8px 10px 0 rgba(0, 0, 0, 0.05),
      9px 11px 0 rgba(0, 0, 0, 0.05), 10px 12px 0 rgba(0, 0, 0, 0.05),
      11px 13px 0 rgba(0, 0, 0, 0.05), 12px 14px 0 rgba(0, 0, 0, 0.05),
      13px 15px 0 rgba(0, 0, 0, 0.05), 14px 16px 0 rgba(0, 0, 0, 0.05),
      15px 17px 0 rgba(0, 0, 0, 0.05), 16px 18px 0 rgba(0, 0, 0, 0.05),
      17px 19px 0 rgba(0, 0, 0, 0.05), 18px 20px 0 rgba(0, 0, 0, 0.05),
      19px 21px 0 rgba(0, 0, 0, 0.05), 20px 22px 0 rgba(0, 0, 0, 0.05),
      21px 23px 0 rgba(0, 0, 0, 0.05);
  }
  .ms-logo.ms-logo-white {
    color: #03a9f4;
    background-color: #fff;
    text-shadow: 1px 1px 0 rgba(3, 169, 244, 0.04),
      1px 2px 0 rgba(3, 169, 244, 0.04), 1px 3px 0 rgba(3, 169, 244, 0.04),
      2px 4px 0 rgba(3, 169, 244, 0.04), 3px 5px 0 rgba(3, 169, 244, 0.04),
      4px 6px 0 rgba(3, 169, 244, 0.04), 5px 7px 0 rgba(3, 169, 244, 0.04),
      6px 8px 0 rgba(3, 169, 244, 0.04), 7px 9px 0 rgba(3, 169, 244, 0.04),
      8px 10px 0 rgba(3, 169, 244, 0.04), 9px 11px 0 rgba(3, 169, 244, 0.04),
      10px 12px 0 rgba(3, 169, 244, 0.04), 11px 13px 0 rgba(3, 169, 244, 0.04),
      12px 14px 0 rgba(3, 169, 244, 0.04), 13px 15px 0 rgba(3, 169, 244, 0.04),
      14px 16px 0 rgba(3, 169, 244, 0.04), 15px 17px 0 rgba(3, 169, 244, 0.04),
      16px 18px 0 rgba(3, 169, 244, 0.04), 17px 19px 0 rgba(3, 169, 244, 0.04),
      18px 20px 0 rgba(3, 169, 244, 0.04), 19px 21px 0 rgba(3, 169, 244, 0.04),
      20px 22px 0 rgba(3, 169, 244, 0.04), 21px 23px 0 rgba(3, 169, 244, 0.04);
  }
  .ms-logo.ms-logo-sm {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 18px;
  }
  .btn-circle {
    height: 50px;
    width: 50px;
    color: #616161;
    display: inline-block;
    border-radius: 200rem;
    text-align: center;
    line-height: 50px;
    position: relative;
    z-index: 1;
    transition: color ease 0.5s;
    transition: box-shadow ease-in-out 0s;
    border: 0;
    background-color: transparent;
  }
  .btn-circle:before {
    transition: all ease 0.5s;
    border-radius: 150px;
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    background-color: #eee;
    height: 0;
    width: 0;
    top: 25px;
    left: 25px;
  }
  .btn-circle:hover,
  .btn-circle:focus {
    color: #616161;
    transition: box-shadow ease-in-out 0.8s;
  }
  .btn-circle:hover:before,
  .btn-circle:focus:before {
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
  }
  .btn-circle i.zmdi {
    font-size: 20px;
    vertical-align: middle;
  }
  .btn-circle.btn-facebook {
    color: #3b5998;
  }
  .btn-circle.btn-facebook:before {
    background-color: #3b5998;
  }
  .btn-circle.btn-facebook:hover,
  .btn-circle.btn-facebook:focus {
    color: #fff;
  }
  .btn-circle.btn-twitter {
    color: #00aced;
  }
  .btn-circle.btn-twitter:before {
    background-color: #00aced;
  }
  .btn-circle.btn-twitter:hover,
  .btn-circle.btn-twitter:focus {
    color: #fff;
  }
  .btn-circle.btn-google {
    color: #dd4b39;
  }
  .btn-circle.btn-google:before {
    background-color: #dd4b39;
  }
  .btn-circle.btn-google:hover,
  .btn-circle.btn-google:focus {
    color: #fff;
  }
  .btn-circle.btn-youtube {
    color: #b00;
  }
  .btn-circle.btn-youtube:before {
    background-color: #b00;
  }
  .btn-circle.btn-youtube:hover,
  .btn-circle.btn-youtube:focus {
    color: #fff;
  }
  .btn-circle.btn-instagram {
    color: #e4405f;
  }
  .btn-circle.btn-instagram:before {
    background-color: #e4405f;
  }
  .btn-circle.btn-instagram:hover,
  .btn-circle.btn-instagram:focus {
    color: #fff;
  }
  .btn-circle.btn-github {
    color: #333;
  }
  .btn-circle.btn-github:before {
    background-color: #333;
  }
  .btn-circle.btn-github:hover,
  .btn-circle.btn-github:focus {
    color: #fff;
  }
  .form-group label {
    color: #9e9e9e !important;
  }
  .label-floating .input-group {
    display: table;
    width: 100%;
  }
  .label-floating .input-group .form-control {
    display: inline-block !important;
    width: 100%;
  }

.ms-footer {
    padding: 12px 0;
    padding: 1.2rem 0;
    text-align: center;
    background-color: #3b4c55;
    color: #bdbdbd;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      inset 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      inset 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .ms-footer p:last-child {
    margin-bottom: 0;
  }
  .ms-footbar {
    background-color: #607d8b;
    color: #eee;
    position: relative;
    margin-top: 40px;
    margin-top: 4rem;
  }
  .ms-footbar:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: -10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: 10px;
    z-index: 1;
  }
  .ms-footbar:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: -15px;
    height: 15px;
    z-index: 2;
    background-color: #f5f5f5;
  }
  .ms-footbar a {
    color: #fff;
    transition: all ease 0.3s;
  }
  .ms-footbar a:hover,
  .ms-footbar a:focus {
    color: #ffa726;
  }
  .ms-footbar .ms-footbar-block {
    margin: 20px 0;
    margin: 2rem 0;
  }
  .ms-footbar .ms-footbar-block .ms-footbar-title {
    margin: 0 0 15px;
    margin: 0 0 1.5rem;
  }
  .three_cols {
    width: 100%;
    overflow: hidden;
  }
  .three_cols li {
    float: left;
    width: 33.333%;
  }
  .three_cols li a {
    display: block;
    padding: 2px 0;
  }
  .three_cols li a i {
    margin-right: 10px;
    width: 15px;
    text-align: center;
    color: #26c6da;
  }
  .three_cols li a:hover i {
    transition: all ease 0.5s;
    color: #ffa726;
    transform: rotateY(360deg);
  }
  .ms-footer-alt-color {
    background-color: #455a64;
  }
  .ms-input-subscribe {
    width: 100%;
  }
  .ms-input-subscribe input {
    color: #fff !important;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)) !important;
  }
  .ms-input-subscribe label {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .ms-input-subscribe label i {
    margin: 0 5px;
  }
  .ms-subscribre-btn {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    border-radius: 50px;
    padding: 10px 20px;
    padding: 1rem 2rem;
    transition: all ease 0.3s;
    text-transform: uppercase;
  }
  .ms-subscribre-btn:after {
    font-family: Material-Design-Iconic-Font;
    content: "\f15a";
    margin-left: 10px;
    transition: all ease 0.3s;
  }
  .ms-subscribre-btn:hover,
  .ms-subscribre-btn:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .ms-subscribre-btn:hover:after,
  .ms-subscribre-btn:focus:after {
    content: "\f159";
    display: inline-block;
    margin-left: 20px;
  }
  .ms-subscribre-btn:active {
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      inset 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      inset 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .ms-footer-media .media {
    margin-bottom: 45px;
    margin-bottom: 4.5rem;
  }
  .ms-footer-media .media:last-child {
    margin-bottom: 0;
  }
  .ms-footer-media .media img {
    border-radius: 50%;
    margin-right: 10px;
    margin-right: 1rem;
    border: solid 1px #607d8b;
  }
  .ms-footer-media .media .media-body .media-heading {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 25px;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
  }
  .ms-footer-media .media-footer {
    font-size: 12px;
    font-size: 1.2rem;
    color: #bdbdbd;
  }
  .ms-footer-media .media-footer span {
    margin-right: 10px;
    margin-right: 1rem;
  }
  .ms-footer-media .media-footer span i {
    margin-left: 1px;
    margin-left: 0.1rem;
    margin-right: 5px;
    margin-right: 0.5rem;
  }
  .ms-footbar-social a {
    margin: 0 0 10px 10px;
    margin: 0 0 1rem 1rem;
    background-color: #455a64;
    color: #f5f5f5 !important;
  }
  .ms-footbar-social a:hover i {
    transition: all ease 0.4s;
    transform: rotate(360deg);
  }
  .color-info-light {
    color: #3cccde;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .color-warning-light {
    color: #ffb54a;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .color-danger-light {
    color: #f48a88;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .color-royal-light {
    color: #cd92d7;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .color-success-light {
    color: #78c37b;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .ms-footer-text-right {
    text-align: right;
  }
  @media (max-width: 991px) {
    .ms-footer-alt-color {
      background-color: transparent;
    }
  }
  @media (max-width: 767px) {
    .ms-footer-alt-color {
      margin: 5rem 0;
    }
    .ms-footer-text-right {
      text-align: center;
    }
    .ms-footer-text-right .ms-footbar-social a {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
  