@use '@angular/material' as mat;
@import 'typography';
$ROI-black-primary: mat.define-palette(mat.$amber-palette, 700, 300, 900);
$ROI-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$ROI-black-warn: mat.define-palette(mat.$red-palette, 500);

// Override the default typography config
// $ROI-typography-config: mat.define-typography-config($ROI-fonts);

$ROI-black-theme: mat.define-dark-theme((
  color: (
    primary: $ROI-black-primary,
    accent: $ROI-black-accent,
    warn: $ROI-black-warn,
  ),
  typography: mat.define-typography-config($ROI-fonts),
 ));


