
<div class="container">
  <h2>Add New Product</h2>
<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" formControlName="price" />
  </div>
  <div class="field">
    <label>Category</label>
    <select  name="category" formControlName="category">
      <option *ngFor="let category of categories" value="{{category.name}}" >{{category.name}}</option>
    </select>
  </div>
  <button mat-raised-button color="primary" type="submit">Add Product</button>
</form>
</div>

<!-- Display the added product value -->
<div *ngIf="addedProduct">
  <h4>New Product Added:</h4>
  <p>Name: {{ addedProduct.name }}</p>
  <p>Description: {{ addedProduct.description }}</p>
  <p>Category: {{ addedProduct.category }}</p>
</div>

