<div class="ms-hero-page ms-hero-img-city ms-hero-bg-primary mb-4">
  <div class="container">
    <div class="text-center">
      <h1 class="color-white center-block">Project Milestones</h1>
      <p class="lead lead-lg color-white text-center center-block mt-2 mb-4">
        Discover the most of our projects. Our commitment is always the maximum
        in every project for a timely and quality delivery.
      </p>
      <a href="javascript:void(0)">View Projects</a>
    </div>
  </div>
</div>

<div class="container container-full">
  <h1 class="text-center"><span>2017</span></h1>
  <div [ngClass]="routeAnimationsElements">
    <section class="row timeline-center">
      <div class="col-md-6">
        <div
          *ngFor="
            let market of marketing;
            let i = index;
            let even = even;
            let odd = odd
          "
        >
          <div *ngIf="even">
            <div class="timeline-center-item left">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{ market.name | translate }}</mat-card-title>
                  <mat-card-subtitle>Dog Breed {{ i }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    {{ market.description | translate }}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          *ngFor="
            let market of marketing;
            let i = index;
            let even = even;
            let odd = odd
          "
        >
          <div *ngIf="odd">
            <mat-card class="card timeline-center-item right">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ market.name | translate }}</mat-card-title>
                <mat-card-subtitle>Dog Breed {{ i }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ market.description | translate }}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

