@import '../pages.scss';
@import '../../../styles-variables';

// mat-card-header {
//   background-color: map-get($ROI-custom-colors, primary);
// }

mat-card {
  border-top: solid 3px map-get($ROI-custom-colors, primar);
}

.ms-hero-page {
  padding: 40px 0;
}
.ms-hero-img-city {
  background-image: url(../../../assets/intro_.jpg);
  background-size: cover;
  background-position: center center;
}
.ms-hero-bg-primary {
  position: relative;
}
.ms-hero-bg-primary:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 82, 118, 0.85);
  z-index: 0;
}
.ms-hero-bg-primary .container {
  position: relative;
  z-index: 1;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .timeline-center {
    position: relative;
    overflow: hidden;
  }
  .timeline-center:after {
    display: block;
    content: '';
    height: 100%;
    width: 5px;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    background-color: #e0e0e0;
    position: absolute;
  }
  .timeline-center > [class*='col-'] .left,
  .timeline-center > [class*='col-'] .right {
    position: relative;
    margin-bottom: 4rem;
    z-index: 2;
  }
  .timeline-center > [class*='col-'] .left:before,
  .timeline-center > [class*='col-'] .right:before {
    content: '';
    position: absolute;
    right: -48px;
    z-index: 2;
    top: 15px;
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: map-get($ROI-custom-colors, primary);
    border: solid 3px #e0e0e0;
    transition: all ease 0.5s;
  }
  .timeline-center > [class*='col-'] .left:hover:before,
  .timeline-center > [class*='col-'] .right:hover:before {
    transform: scale(1.5);
  }
  .timeline-center > [class*='col-'] .left {
    margin-right: 25px;
  }
  .timeline-center > [class*='col-'] .left:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: -35px;
    border-left: solid 15px map-get($ROI-custom-colors, primary);
    border-right: solid 20px transparent;
    border-top: solid 13px transparent;
    border-bottom: solid 13px transparent;
  }
  .timeline-center > [class*='col-'] .left.card-primary:after {
    border-left-color: map-get($ROI-custom-colors, primary);
  }
  .timeline-center > [class*='col-'] .left.card-primary:before {
    background-color: map-get($ROI-custom-colors, primary);
  }
  .timeline-center > [class*='col-'] .right {
    margin-left: 25px;
  }
  .timeline-center > [class*='col-'] .right:first-child {
    margin-top: 6rem;
  }
  .timeline-center > [class*='col-'] .right:before {
    left: -48px;
    right: auto;
  }
  .timeline-center > [class*='col-'] .right:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: -35px;
    border-right: solid 15px map-get($ROI-custom-colors, primary);
    border-left: solid 20px transparent;
    border-top: solid 13px transparent;
    border-bottom: solid 13px transparent;
  }
}
@media (max-width: map-get($grid-breakpoints, sm)) {
  .container-full {
    min-width: 100%;
    padding: 10px;
  }
}
