<div class="container" >
    <div class="row">
      <div class="col-md-12" [ngClass]="routeAnimationsElements">
        <ROI-html-content [filePath]="'assets/markdown/about_'"></ROI-html-content>
        <!-- <h1 rtl class="main-heading" [class.rtl]="language === 'ar'"> {{'ROI.menu.about' | translate }}</h1> -->
        <!-- <h1 rtl class="main-heading" [class.rtl]="(language$ | async) === 'ar'"> {{'ROI.menu.about' | translate }}</h1> -->
      </div>
    </div>
    <div class="row" >
    </div>
</div>