.roi-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 16px;

  > .mat-mdc-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.mat-mdc-button-base:not(:disabled) {
  color: inherit;
}

.flex-spacer {
  flex-grow: 1;
}

.logo {
  height: 26px;
  margin-right: 6px;
}

.roi-navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.roi-navbar {
  display: none;
}

.roi-navbar-show-small {
  display: none;
}

.skip-link-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .roi-navbar-hide-small {
    display: none;
  }

  .roi-navbar-show-small {
    display: block;
  }

  .roi-navbar {
    display: flex;
  }

  .roi-navbar--github-logo {
    margin: 0;
  }
}

theme-picker {
  display: none;

  @media (min-width: 328px) {
    display: block;
  }
}
